.container 
{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.cardS
{
    border:solid 5px black;
    border-radius: 15px;
}

.cardTexte
{
    color:black;
    margin-top: 3%;
}

.content {
    display: flex;
    justify-content: center;
}

.title {
    margin: 1% auto 1% auto;
}

.text-align {
    text-align: center;
}